---
interface Props {
  quantity: number;
}

const { quantity } = Astro.props;
---

<div class="flex gap-2">
  <div
    class="flex focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-gray-700 rounded-md"
  >
    <button
      class="rounded-s-md w-6 h-6 grid place-items-center bg-gray-50 hover:bg-gray-100"
    >
      <img class="w-4 h-4" src="assets/icons/minus.svg" />
    </button>

    <input
      class="h-6 w-10 text-center bg-gray-50 text-sm text-gray-500 outline-none"
      value={quantity}
    />

    <button
      class="rounded-e-md w-6 h-6 grid place-items-center bg-gray-50 hover:bg-gray-100"
    >
      <img class="w-4 h-4" src="assets/icons/plus.svg" />
    </button>
  </div>

  <button class="w-8 h-6 grid place-items-center rounded-md hover:bg-red-50">
    <img class="w-4 h-4" src="assets/icons/trash.svg" />
  </button>
</div>
