---
import { collections } from "../api/collections";
import CartButton from "../components/cart-button";
import CartFlyOut from "../components/cart-flyout";
const { title } = Astro.props;
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="w-full min-h-screen">
      <header class="container px-8 mx-auto flex py-10 justify-between">
        <div class="min-w-fit">
          <h1 class="text-sm font-semibold font-mono">Book Store</h1>
          <small class="font-mono text-gray-500 text-xs"
            >Minha Loja de Livros</small
          >
        </div>

        <nav class="w-full pl-6 flex gap-3 items-center justify-end">
          {
            collections.data.map((collection: any) => (
              <a
                href={`/${collection.slug}`}
                class="text-gray-700 font-mono font-semibold hover:underline hover:text-gray-500"
              >
                {collection.name}
              </a>
            ))
          }

          <CartButton client:load />
        </nav>
      </header>

      <div class="px-8">
        <slot />
        <!-- your content is injected here -->

        <CartFlyOut client:load />
      </div>
    </main>
  </body>
</html>
